export(coloc.bayes)
export(coloc.bayes.3t)
export(coloc.bayes.3t.tag)
export(coloc.bayes.tag)
export(coloc.bayes.tag.cond)
export(coloc.var.bma)
export(coloc.var.test)
export(coloc.var.test.summary)
export(pcs.var.model)
export(pcs.var.prepare)
export(tag)
